body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #0026ffb4;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.box {
    width: 300px;
    height: 150px; /* Set a fixed height */
    overflow: auto; /* Allow scrolling if content exceeds the box height */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
}

#ticketBox {
    border: 2px solid #00d9ff;
}

