body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('/static/img/main.png'), url('/static/img/akurukotu2.jpg'),url('/static/img/kotuakuru3.jpg');
    
    background-size: 45%, 10%, 125% auto;
    background-repeat: no-repeat ,repeat-x  ;
    background-position: center top,bottom; 
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffffa9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center; /* Center the heading */
    margin-top: 0; /* Align heading to the top of the container */
    margin-bottom: 20px

}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

textarea,
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #00eeff;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
input:hover {
    background-color: #00ccff44;
}
button{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #00eeff;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #00f54985;
}


.result {
    margin-top: 20px;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}



p    {
    font-size: 18px; /* Adjust the font size as needed */
    color: #333; /* Set the font color */
    padding: 20px; /* Add padding for spacing around the paragraph */
    background-color: #f8f8f8; /* Set a background color */
    border-radius: 8px; /* Add rounded corners to the paragraph */
    border: 1px solid #ccc; /* Add a border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

.para {
    
        font-family: Arial, sans-serif; /* Change the font family */
        font-size: 18px; /* Adjust the font size as needed */
        color: #333; /* Set the font color */
        font-style: italic; /* Make the font italic */
        padding: 20px; /* Add padding for spacing around the paragraph */
        background-color: #f8f8f8; /* Set a background color */
        border-radius: 8px; /* Add rounded corners to the paragraph */
        border: 1px solid #ccc; /* Add a border */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    }
    


.container2 {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-group-item-action {
    width: 100%;
    color: var(--bs-list-group-action-color);
    text-align: inherit;
}
.list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: var(--bs-list-group-color);
    text-decoration: none;
    background-color: navy; /* Change to navy blue */
    border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

footer {
  
    color: #fff; /* Text color of the footer */
    padding: 40px ; /* Padding at the top and bottom of the footer */
    text-align: center; /* Align text in the center */
}

footer p {
    margin: 0; /* Remove default margin for the paragraph */
}


