body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #0026ffb4;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: medium;
}

.navbar {
    min-height: 20px; /* Adjust this value as needed */
}
.navbar-custom {
background-color: #1b3c76; /* Dark blue color */
}

.navbar-brand,
.navbar-nav .nav-link {
    line-height: 50px; /* Adjust this value to vertically center the text */
}
 /* Add any additional custom styles here */
 .logo-container {
    text-align: center;
    margin-top: 70px; /* Adjust as needed */
    margin-bottom: 5px; /* Add margin between image and boxes */
}
.logo-container img {
    width: 1400px; /* Adjust the size as needed */
    height: auto;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

}

.box {
    width: 400px;
    height: 200px; /* Set a fixed height */
    overflow: auto; /* Allow scrolling if content exceeds the box height */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
}

#ticketBox {
    border: 2px solid #00d9ff;
}

.card {
    padding: 20px;
    background-color: #f8f9fa;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Add space between form elements */
.form-group {
    margin-bottom: 20px;
}

/* Center the button within its container */
.btn-block {
    display: block;
    width: 100%;
}

/* Center the text within the card */
.text-center {
    text-align: center;
}

/* Add margin to the top of the "Already have an account?" message */
.mt-3 {
    margin-top: 15px;
}


.container {
    margin-top: 120px;
 
}
.container2 {
    margin-bottom: 180px;
 
}


.detectLanguage {
    color: blue;
    font-style: italic;
    margin-bottom: 10px;
}


.subscriptionBoxes{
    width: 300px;
    height: 150px; /* Set a fixed height */
    overflow: auto; /* Allow scrolling if content exceeds the box height */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}


.alert-error {
    color: #f5f5f5;
    background-color: #f11a1a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10%;
    left:  50%;
    padding: 10px;
    transform: translateX(-50%);
}
.alert-success {
    color: #f5f5f5;
    background-color: #1e81b0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10%;
    left:  50%;
    padding: 10px;
    transform: translateX(-50%);
}

.alert-info{
    color: #f5f5f5;
    background-color: #1e81b0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10%;
    left:  50%;
    padding: 10px;
    transform: translateX(-50%);
}

.custom-alert.alert-success {
    background-color: #1e81b0;
    color: #f5f5f5;
    background-color: #1e81b0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10%;
    left:  50%;
    padding: 10px;
    transform: translateX(-50%);
}

/*Feedback*/
.feedback-container {
    margin-top: 40px;
}
.feedback-container form {
    margin-bottom: 20px;
}

