<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/popup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Translation</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('welcome') }}">Profile</a>
        <a href="{{ url_for('subscribe') }}">Pricing</a>
        <a href="{{ url_for('login') }}">LogIn</a>
        <a href="{{ url_for('register') }}">SignUp</a>
    </nav>
    
    <div class="container2">
        <div class="jumbotron">
            <h1 class="display-4">SEES Translator</h1>
            <form method="POST" action="/translate" onsubmit="return detectLanguage()">
                <div class="form-group">
                    <label for="input_text">Enter text to translate:</label>
                    <textarea class="form-control" id="input_text" name="input_text" rows="4" cols="50" oninput="detectLanguage()" required></textarea>
                </div>
                
                <div class="detectLanguage" id="detected_language"></div><br>

                <div class="form-group">
                    <label for="target_language">Select target language:</label>
                    <select class="form-control" id="target_language" name="target_language" required>
                        {% for language in languages %}
                            <option value="{{ language.code }}">{{ language.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <button type="submit" class="btn btn-primary">Translate</button>
            </form>

        
            {% if input_text %}
                <h3>Original Text:</h3>
                <p>{{ input_text }}</p>
                
                <h3>Translated Text:</h3>
                <p>{{ translated_text }}</p>
                
                {% if audio_filename %}
                    <audio controls>
                        <source src="{{ audio_filename }}" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
